.ability {
  width:100%;
  &+.ability {
    margin-top: 1.5rem;
  }
  .name {
    margin-bottom: .5rem;
    text-transform: capitalize;
    font-size: 1.8rem;
    font-style: italic;
    span {
      position: relative;
      padding:0.6rem .3rem;
      background: #ccc;
      color: #333;
      border-radius: .3rem;
      font-style: normal;
      font-size: 1.2rem;
      //z-index:9999;
    }

  }
  .description {
    line-height: 2.6rem;
    font-size: 1.4rem;
  }
}