@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
*, *:before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text: #ebfff1;
  --bg-color: rgb(46, 49, 46);
  --hint: #333;
  --bg-card: rgb(49, 54, 49);
  --bg-color-hover: #ebfff186;
}
:root.light {
  --text: #39413b;
  --bg-color: #ebfff186;
  --hint: rgba(255, 255, 255, 0.377);
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Ubuntu", sans-serif;
  background: #2e312e;
  color: #ebfff1;
}

main {
  margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

p {
  line-height: 2.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

[class⁼col-] {
  flex-basis: 100%;
}

@media screen and (max-width: 2000px) {
  .col-1 {
    flex: 0 0 8.3333333333%;
  }

  .col-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-2 {
    flex: 0 0 16.6666666667%;
  }

  .col-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-3 {
    flex: 0 0 25%;
  }

  .col-offset-3 {
    margin-left: 25%;
  }

  .col-4 {
    flex: 0 0 33.3333333333%;
  }

  .col-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-5 {
    flex: 0 0 41.6666666667%;
  }

  .col-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-6 {
    flex: 0 0 50%;
  }

  .col-offset-6 {
    margin-left: 50%;
  }

  .col-7 {
    flex: 0 0 58.3333333333%;
  }

  .col-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-8 {
    flex: 0 0 66.6666666667%;
  }

  .col-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-9 {
    flex: 0 0 75%;
  }

  .col-offset-9 {
    margin-left: 75%;
  }

  .col-10 {
    flex: 0 0 83.3333333333%;
  }

  .col-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-11 {
    flex: 0 0 91.6666666667%;
  }

  .col-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-12 {
    flex: 0 0 100%;
  }

  .col-offset-12 {
    margin-left: 100%;
  }
}
.container {
  width: 70vw;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .container {
    width: 80vw;
  }
}
@media screen and (max-width: 576px) {
  .container {
    width: 85vw;
  }
}

.select--purple ::selection {
  background: var(--purple);
  color: #f1f1f1;
}
.select--green ::selection {
  background: var(--green);
}
.select--primary ::selection {
  background: var(--primary);
  color: #f1f1f1;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes stats {
  from {
    width: 0;
  }
  to {
    width: var(--stat-pourcent);
  }
}
@keyframes levitatePokemon {
  0% {
    transform: translate(10rem, -2.5%) rotate(-1.5deg);
  }
  50% {
    transform: translate(10rem, 2.5%) rotate(1.5deg);
  }
  100% {
    transform: translate(10rem, -2.5%) rotate(-1.5deg);
  }
}
@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: translateY(-50%) rotate(0) scale(1);
  }
  100% {
    transform: translateY(-50%) rotate(360deg) scale(1);
  }
}
@keyframes rotateAlbum {
  0% {
    transform: translateY(-50%) scale(10) rotate(0);
  }
  100% {
    transform: translateY(-50%) scale(10) rotate(360deg);
  }
}
@keyframes bright {
  0% {
    left: -50%;
  }
  100% {
    left: 150%;
  }
}
.types {
  display: flex;
  margin-top: 1rem;
  font-size: 1.4rem;
  align-items: center;
  height: 100%;
}

h2 + .types {
  margin-top: 0;
}

.type {
  min-width: 7rem;
  padding: 0.75rem 0.5rem;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
}
.type + .type {
  margin-left: 0.5rem;
}
.type.grass {
  background: linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
  color: #333;
}
.type.dark {
  background: linear-gradient(180deg, #707070 50%, #707070 50%);
}
.type.poison {
  background: #b97fc9;
}
.type.fire {
  background: #fd7d24;
}
.type.flying {
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  color: #333;
}
.type.water {
  background: #4592c4;
}
.type.bug {
  background: #729f3f;
}
.type.normal {
  background: #a4acaf;
  color: #333;
}
.type.fighting {
  background: linear-gradient(180deg, #d56723 50%, #d56723 50%);
}
.type.psychic {
  background: linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
}
.type.rock {
  background: linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
}
.type.steel {
  background: linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
}
.type.fairy {
  background: linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
  color: #333;
}
.type.dragon {
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
}
.type.ghost {
  background: linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
}
.type.ice {
  background: linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
}
.type.electric {
  background: #eed535;
  color: #333;
}
.type.ground {
  background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  color: #333;
}

.btn {
  padding: 1rem;
  border: 0;
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.74));
  color: #f1f1f1;
  border-radius: 0.3rem;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
}
.btn-danger {
  background: #972424;
}
.btn-update {
  color: #333;
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: #77d50d;
}

.buttons {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}
.buttons .btn + .btn, .buttons form + .btn {
  margin-left: 1rem;
}
.buttons form {
  margin: 0;
  justify-content: center;
  align-items: center;
}
.buttons form input[type=submit] {
  margin: 0;
}

.pokemon-list .list-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #393d39;
  padding: 1.5rem;
  border: 0.2rem solid rgba(241, 241, 241, 0.25);
  border-radius: 0.5rem;
  min-height: 10rem;
}
.pokemon-list .list-item + .list-item {
  margin-top: 1.5rem;
}
.pokemon-list .list-item .left-info {
  display: flex;
  align-items: center;
  height: 100%;
}
.pokemon-list .list-item .left-info .order {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 0.3rem;
  background: #ccc;
  color: #333;
}
.pokemon-list .list-item .left-info .order img {
  margin-right: 1rem;
  width: 2.5rem;
}
.pokemon-list .list-item .main-info {
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 2rem;
  text-transform: capitalize;
  left: 40%;
}
.pokemon-list .list-item .main-info img {
  width: 7.5rem;
  margin-right: 1rem;
  user-select: none;
}
.pokemon-list .list-item .buttons {
  margin: 0;
  display: flex;
  align-items: center;
}
.pokemon-list .list-item .buttons a + a {
  margin-left: 2rem;
}
.pokemon-list .list-item a {
  color: #333;
  background: #ccc;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes stats {
  from {
    width: 0;
  }
  to {
    width: var(--stat-pourcent);
  }
}
@keyframes levitatePokemon {
  0% {
    transform: translate(10rem, -2.5%) rotate(-1.5deg);
  }
  50% {
    transform: translate(10rem, 2.5%) rotate(1.5deg);
  }
  100% {
    transform: translate(10rem, -2.5%) rotate(-1.5deg);
  }
}
@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: translateY(-50%) rotate(0) scale(1);
  }
  100% {
    transform: translateY(-50%) rotate(360deg) scale(1);
  }
}
@keyframes rotateAlbum {
  0% {
    transform: translateY(-50%) scale(10) rotate(0);
  }
  100% {
    transform: translateY(-50%) scale(10) rotate(360deg);
  }
}
@keyframes bright {
  0% {
    left: -50%;
  }
  100% {
    left: 150%;
  }
}
.stats {
  padding: 2rem;
  background-color: #393d39;
  margin-top: 1.5rem;
  border-radius: 0.3rem;
}
.stats .stat {
  margin-bottom: 1.5rem;
  text-transform: capitalize;
}
.stats .stat:first-of-type {
  margin-top: 1.5rem;
}
.stats .progress {
  display: block;
  width: 100%;
  height: 2rem;
  position: relative;
  background: rgba(204, 204, 204, 0.5);
  opacity: 0.5;
  border-radius: 0.3rem;
}
.stats .progress:after {
  content: "";
  display: inline-block;
  height: 100%;
  top: 0;
  left: 0;
  width: var(--stat-pourcent);
  animation: stats 1s ease-in-out;
  background: linear-gradient(to right, #6509a7, #8b1dd9);
  border-radius: 0.3rem 0 0 0.3rem;
}

.ability {
  width: 100%;
}
.ability + .ability {
  margin-top: 1.5rem;
}
.ability .name {
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  font-size: 1.8rem;
  font-style: italic;
}
.ability .name span {
  position: relative;
  padding: 0.6rem 0.3rem;
  background: #ccc;
  color: #333;
  border-radius: 0.3rem;
  font-style: normal;
  font-size: 1.2rem;
}
.ability .description {
  line-height: 2.6rem;
  font-size: 1.4rem;
}

.pokemon {
  width: 100%;
  position: relative;
  margin: 7.5rem 0 0 0;
  background: linear-gradient(rgba(255, 255, 255, 0.18), rgba(255, 255, 255, 0.52)), url(../../assets/images/background-details.jpg);
  background-size: cover;
  padding: 8rem;
  border-radius: 0.3rem;
  color: #ccc;
  box-shadow: 0rem 0rem 5rem 5rem #2e312e inset;
}
.pokemon-main {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.pokemon-main .stats {
  flex: 75%;
  border: 0.1rem solid;
}
.pokemon-main .abilities-bloc {
  max-width: 60%;
  border-radius: 0.3rem;
  border: 0.1rem solid;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  align-self: flex-end;
  padding: 2rem;
  background-color: #393d39;
}
.pokemon-main .abilities-bloc h3 {
  font-weight: 300;
  font-size: 3rem;
}
.pokemon-main .abilities {
  columns: 30ch 2;
  gap: 2rem;
}
.pokemon-main .abilities .ability {
  -webkit-column-break-inside: avoid;
}
.pokemon img {
  position: absolute;
  max-height: 30rem;
  max-width: 30rem;
  top: -2rem;
  left: 50%;
  z-index: 5;
  animation: 5s levitatePokemon ease-in-out infinite;
}
.pokemon-top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #393d39;
  padding: 3rem;
  border-radius: 0.3rem;
  border: 0.1rem solid;
  overflow: hidden;
}
.pokemon-top:after {
  content: "";
  background-image: var(--artwork);
  position: absolute;
  display: inline-block;
  top: -5rem;
  left: 2.5rem;
  background-size: cover;
  width: 30rem;
  height: 30rem;
  filter: grayscale(1);
  transform: scaleX(-1);
  opacity: 0.05;
}
.pokemon-top h2 {
  position: relative;
  z-index: 5;
  font-weight: 300;
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 0;
}

.pagination {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
}
.pagination li + li {
  margin-left: 2rem;
}
.pagination li a {
  color: #f1f1f1;
}

.add-movie {
  margin-top: 5rem;
}

form {
  display: flex;
  flex-direction: column;
}
form .form-group {
  position: relative;
  display: flex;
  flex-direction: column;
}
form .form-group + .form-group {
  margin-top: 2rem;
}
form .form-group input, form .form-group textarea, form .form-group select {
  padding: 1.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
form .form-group input::placeholder, form .form-group textarea::placeholder, form .form-group select::placeholder {
  color: transparent;
}
form .form-group input:not(:placeholder-shown) + label, form .form-group textarea:not(:placeholder-shown) + label, form .form-group select:not(:placeholder-shown) + label {
  display: none;
}
form .form-group input:focus + label, form .form-group textarea:focus + label, form .form-group select:focus + label {
  transform: translateY(-50%) translateX(-200%);
}
form .form-group label {
  position: absolute;
  color: rgba(51, 51, 51, 0.48);
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
  transition: transform 0.2s ease-in-out;
}
form .form-group label[for=date] {
  color: transparent;
}
form input[type=submit] {
  margin: 2rem 0;
  width: fit-content;
}

.welcom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background: rgba(241, 241, 241, 0.3);
  margin: 2rem 0;
  border-radius: 0.3rem;
}

/*# sourceMappingURL=style.css.map */
